<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
	</head>
	<body>
		{% block stylesheets %}
			<link rel="stylesheet" href='/css/bootstrap.css'/>
		{% endblock %}
		<div class="container"><br>

			<br><h2 class="text-warning text-center">Les réunions du jour</h2>
			<hr style="width:35%"/><br><br>
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.flashes('error') %}
				<div class="alert alert-danger">
					{{ message }}
				</div>
			{% endfor %}

			<div class="row">
				<table class="table table-striped">
					<thead>
						<tr class="text-center">
							<th scope="col">Libellé de la réunion</th>
							<th scope="col">Date</th>
							<th scope="col">Heure</th>
							<th scope="col">Salle</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for m in meetings %}
							{% for i in m.meeting %}
								<tr class="text-center">
									<td>{{i.name}}</td>
									<td>{{i.date | date("d/m/Y")}}</td>

									<td>{{i.beginning  | date("H:i:s")}}
										-
										{{i.end | date("H:i:s") }}
									</td>
									<td>{{i.room}}</td>
									<td>
										{% if i.present == 1 and m.present == 1 %}
											<a href="#" class="btn btn-success disabled" role="button">Présence confirmée</a>
										{% else %}
											<a name="conf" id="conf" class="btn btn-primary" href="{{ path('check', {'id': i.id, 'part': m.id}) }}" role="button">Confirmer Presence</a>
										{% endif %}

									</td>

								</tr>

							{% endfor %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
{% block javascripts %}
	<script src="/js/jquery-3.4.1.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script>/*	$("#conf").click(function () {
var id = $('#conf').data('id');
var part = $('#conf').data('idPart');
$.ajax({
type: 'GET',
url: '/check/' + id + '/' + part,
async: false,
success: function (data) {},
error: function () {
alert('La requête n\'a pas abouti');
}
});
});
/*fetch('/check/' + id + '/' + part).then(function (response) {});
});*/</script>{% endblock %}
