<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
	</head>
	<body>
		{% block stylesheets %}
			<link rel="stylesheet" href='/css/bootstrap.css'/>
		{% endblock %}
		<div class="container"><br>

			<br><h2 class="text-warning text-center">Les réunions du jour</h2>
			<hr style="width:35%"/><br><br>
			<div class="row">
				<table class="table table-striped">
					<thead>
						<tr class="text-center">
							<th scope="col">Libellé de la réunion</th>
							<th scope="col">Date</th>
							<th scope="col">Heure</th>
							<th scope="col">Salle</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for m in meetings %}
							{% for i in m.meeting %}
								<tr class="text-center">
									<td>{{i.name}}</td>
									<td>{{i.date | date("m/d/Y")}}</td>

									<td>{{i.beginning  | date("H:i:s")}}
										-
										{{i.end | date("H:i:s") }}
									</td>
									<td>{{i.room}}</td>
									<td>
										<button type="button" class="btn btn-primary" id="conf" data-id="{{i.id}}">Confirmer présence</button>
									</td>

								</tr>

							{% endfor %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
{% block javascripts %}
	<script src="/js/jquery-3.4.1.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script>
		$("#conf").click(function () {
var id = $('#conf').data('id');
Swal.fire('Any fool can use a computer');
/*
fetch('/check/' + id).then(function (response) {
console.log(response.body)
);

if(response.body.text == 1) {
Swal.fire('Any fool can use a computer');
}
}
)*/
});
	</script>
{% endblock %}{
